.side-bar-container
  .information
    .styled-flex-wrapper.between
      .name
        = link_to root_path do
          = current_user.name
      .action-menu
        %span.create-message
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %span.set-config
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

  %hr
  .group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: 'group' do
        .title
          = group.name
        .last-message
          = group.show_last_message
